<div class="main-image">
    <img [src] ="url" width="1519px" height="500px" style="background-size: contain; background-size: cover;">
        <div class="container">
            <h1><span>Mechanical Engineering</span></h1>
            <span class="cen">Mechanical Engineering</span>
            <a class="button" href="#">Click Here</a>
        </div>
    </div>

<div class="row">
    <div class="col">
        <div class="leftside">
            <div class="containerr">
             <div class="box1">
                    <div class="content">
                        <div class="icon"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                        <a href="/ComputerScienceEngineering" style="text-decoration: none; color: #000;"><h3>>Department of Cse</h3></a>
                         <p>Computer science Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box2">
                    <div class="content">
                        <div class="icon"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                        <a href="/MechanicalEngineering" style="text-decoration:none; color: #000"><h3>>Department of Mec</h3></a>
                         <p>Mechanical Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box3">
                    <div class="content">
                        <div class="icon"><i class="fa fa-signal fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                         <a href="/ElectricalCommunicationsEngineering" style="text-decoration:none; color: #000"><h3>>Department of Ece</h3></a>
                         <p>Electrical and Communications Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box4">
                    <div class="content">
                        <div class="icon"><i class="fa fa-building fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                         <a href="/CivilEngineering" style="text-decoration:none; color: #000"><h3>>Department of Civil</h3></a>
                         <p>Civil Engineering</p>   
                        </div>
                </div>
            </div>
                
            </div>
        </div>
    </div>

    <div class="col">
        <div class="rightside">
                <div id="navbar2">
                    <p> Home >> Departments >> Department of Mechanical Engineering</p>
                </div>
                <div id ="titleheading">
                    <h1>Department of Mechanical Engineering</h1>
                </div>
                <div id="options">
                    <p><a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">HoD Message</a> | <a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Fees and Financial Assistance</a> | <a href="/MechanicalFaculty"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Faculty</a> |<a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Facts & Figures</a> |<a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Announcement</a> | <a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Gallery</a> |<a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Student Clubs</a> |<a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Newsletter</a> | <a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Contact</a></p>
                </div>
                <div id="info">
                <h4 style="color: #000066; position: relative; bottom: -45px; left: 50px;">We’re talking love for all things machine!</h4>
                <p style="position: relative; bottom:-55px ; left:50px; font-weight: 499; font-size: 17px;">The mechanical engineering department at MGIT always strives to stay at the forefront of technological innovation. Our department lives and swears by technological developments that are shaking the very foundations of conventional wisdom. If there is an existing solution to a real life problem in the field of mechanical engineering, our students know of it. And if there doesn’t exist any, you can find them engrossed in finding one.</p>
                <h4 style="color: #000066; position: relative; bottom: -70px; left: 50px;">Programs Offered </h4>
                <ul style="list-style-type:disc; position:relative; left:80px; bottom:-75px; font-size: 17px;">
  <li>B.Tech  Mechanical(Mechatronics) Engineering</li>
  <li>B.Tech  Mechanical Engineering</li>
 <li>M.Tech Mechatronics</li>
</ul>  
                 <h4 style="color: #000066; position: relative; bottom: -80px; left: 50px;">B.Tech. MEC Program Educational Objectives (PEOs) </h4>
                 <ul style="list-style-type:disc; position:relative; left:80px; bottom:-90px; font-size: 17px;">
  <li>To prepare the students for fundamental technical knowledge and skills in Mathematics, Science and Engineering to recognize, analyze and solve problems in industry which meet the needs of Indian and Multinational companies, in the area of Mechatronics Engineering.</li>
  <li>To develop the ability among the students to acquire the knowledge of allied courses with the knowledge of core courses so as to understand the integration of multi disciplinary nature of technological problems.</li>
  <li>To promote the students awareness of life-long learning, and to introduce them to professional ethics and codes of professional practice.</li>
  <li>To develop the students to become effective collaborators and innovators leading/ participating in efforts to address social, technical and business challenges.
</li>
</ul>  
                    
                </div>
        </div>
    </div>
    
</div>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>