
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Rainbow Institute of Technology</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Academics </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" >Departments</a>
        <div class="dropdown-menu">
          <li><a class="dropdown-item"href="/ComputerScienceEngineering">Computer Science Engineering</a></li>
          <li><a class="dropdown-item" href="/MechanicalEngineering">Mechanical Engineering</a></li>
          <li><a class="dropdown-item" href="/ElectricalCommunicationsEngineering">Electrical communications Engineering</a></li>
          <li><a class="dropdown-item" href="/CivilEngineering">Civil Engineering</a></li>          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">About</a>
      </li>
    </ul>
</div>
</div>
</nav>
