<div class="main-image">
    <img [src] ="url" width="1519px" height="500px" style="background-size: contain; background-size: cover;">
        <div class="container">
            <h1><span>Civil Engineering</span></h1>
            <span class="cen">Civil Engineering</span>
            <a class="button" href="#">Click Here</a>
        </div>
    </div>

<div class="row">
    <div class="col">
        <div class="leftside">
            <div class="containerr">
             <div class="box1">
                    <div class="content">
                        <div class="icon"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                        <a href="/ComputerScienceEngineering" style="text-decoration: none; color: #000;"><h3>>Department of Cse</h3></a>
                         <p>Computer science Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box2">
                    <div class="content">
                        <div class="icon"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                        <a href="/MechanicalEngineering" style="text-decoration:none; color: #000"><h3>>Department of Mec</h3></a>
                         <p>Mechanical Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box3">
                    <div class="content">
                        <div class="icon"><i class="fa fa-signal fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                         <a href="/ElectricalCommunicationsEngineering" style="text-decoration:none; color: #000"><h3>>Department of Ece</h3></a>
                         <p>Electrical and Communications Engineering</p>   
                        </div>
                </div>
                
            </div>
            <div class="box4">
                    <div class="content">
                        <div class="icon"><i class="fa fa-building fa-2x" aria-hidden="true"></i></div>
                        <div class="text">
                         <a href="/CivilEngineering" style="text-decoration:none; color: #000"><h3>>Department of Civil</h3></a>
                         <p>Civil Engineering</p>   
                        </div>
                </div>
            </div>
                
            </div>
        </div>
    </div>

    <div class="col">
        <div class="rightside">
                <div id="navbar2">
                    <p> Home >> Departments >> Department of Civil
                </div>
                <div id ="titleheading">
                    <h1>Department of Civil Engineering</h1>
                </div>
                <div id="options">
                    <p><a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">HoD Message</a> | <a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Fees and Financial Assistance</a> | <a href="/CivilFaculty"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Faculty</a> |<a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Facts & Figures</a> |<a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Announcement</a> | <a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Gallery</a> |<a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Student Clubs</a> |<a href="#"style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;"> Newsletter</a> | <a href="#" style="color: #669900;
     font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;">Contact</a></p>
                </div>
                <div id="info">
                <h4 style="color: #000066; position: relative; bottom: -45px; left: 50px;">We’re talking education that builds the foundation of the country</h4>
                <p style="position: relative; bottom:-55px ; left:50px; font-weight: 499; font-size: 17px;">The Civil Engineering department at MGIT has to shoulder a major responsibility – that of producing the most gifted builders of tomorrow. And in this department, we take this responsibility very seriously. The Civil Engineering department has been at the forefront of cutting edge research in this field. The numerous accolades and scholarship grants received by this department stand testimony to its deeply ingrained brilliance.</p>
                <h4 style="color: #000066; position: relative; bottom: -70px; left: 50px;">Programs Offered </h4>
                <ul style="list-style-type:disc; position:relative; left:80px; bottom:-75px; font-size: 17px;">
  <li>B.Tech – Civil Engineering</li>
  <li>M.Tech – Computer Aided Structural Engineering</li>
 
</ul>  
                 <h4 style="color: #000066; position: relative; bottom: -80px; left: 50px;">B.Tech. CIVIL Program Educational Objectives (PEOs) </h4>
                 <ul style="list-style-type:disc; position:relative; left:80px; bottom:-90px; font-size: 17px;">
  <li>To provide better understanding of fundamentals of Mathematics and Civil Engineering.</li>
  <li>To produce graduates with Multi-disciplinary knowledge for individual and professional development.</li>
  <li>To produce graduates who would attain professional competence to fit themselves to Industry needs, pursue higher studies and recognize need for lifelong learning.</li>
  <li>To inculcate qualities of working in teams with ethical values and social responsibility.</li>
</ul>  
                    
                </div>
        </div>
    </div>
    
</div>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>